
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Kanit&display=swap');


body {
  margin: 0;
  font-family: 'Kanit', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;

  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(167,220,225,1) 0.1%, rgba(239,249,251,0.63) 90.1% ); */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/images/bg.jpg");

  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
